.monicaImg {
    width: 100%;
}

.textContainer {
    font-size: 18px;
}

@media (max-width: 1198px) {
    .monicaImg {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .monicaImg {
        width: 60%;
    }
}