.backgroundImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 70%;
    width: 30%;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.backgroundImage2 {
    position: absolute;
    transform: scaleY(-1);
    overflow: hidden;
    top: 40%;
    left: 0%;
    width: 20%;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.imageContainer {
    position: relative;
}

.backgroundDotsContainer {
    position: absolute;
    visibility: hidden;
    top: 15%;
    left: 25%;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bubblesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.bubble1 {
    background-color: #799779;
    border-radius: 3% 40%;
    padding: 40px;
    margin: 30px;
    animation: fadeEffect1 8s infinite 24s;
}

.bubble2 {
    background-color: #799779;
    border-radius: 3% 40%;
    padding: 40px;
    margin: 30px;
    animation: fadeEffect2 8s infinite 24s;
}

.bubble3 {
    background-color: #799779;
    border-radius: 3% 40%;
    padding: 40px;
    margin: 30px;
    animation: fadeEffect3 8s infinite 24s;
}

.info {
    color: white;
    font-size: 18px;
}

.monicaImage {
    width: 100%;
}

@keyframes fadeEffect1 {
    0%, 50% {
        opacity: 0.1;
    }
    30%, 50% {
        opacity: 1;
    }
    80%, 100% {
        opacity: 0.1;
    }
}

@keyframes fadeEffect2 {
    0%, 100% {
        opacity: 0.1;
    }
    40%, 70% {
        opacity: 1;
    }
    90%, 100% {
        opacity: 0.1;
    }
}

@keyframes fadeEffect3 {
    0%, 80% {
        opacity: 0.1;
    }
    70%, 80% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

@media (max-width: 1310px) {
    .backgroundImage {
        left: 60%;
        width:40%;
    }

    .monicaImage {
        width: 120%;
    }
}

@media (max-width: 1199px) {
    .monicaImage {
        width: 140%;
    }
}

@media (max-width: 992px) {
    .backgroundImage {
        visibility: hidden;
    }

    .backgroundImage2 {
        visibility: hidden;
    }

    .backgroundDots {
        visibility: visible;
        width: 200%;
    }

    .monicaImage {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .backgroundDots {
        width: 150%;
    }
}

@media (max-width: 515px) {
    .backgroundDots {
        width: 140%;
    }
}

@media (max-width: 490px) {
    .backgroundDots {
        width: 130%;
    }
}

@media (max-width: 445px) {
    .backgroundDots {
        width: 120%;
    }
}

@media (max-width: 410px) {
    .backgroundDots {
        width: 100%;
    }
}