.monicaImg {
    width: 100%;
    transform: scaleX(-1);
}

@media (max-width: 1198px) {
    .monicaImg {
        width: 50%;
        margin-top: 20px;
    }
}

@media (max-width: 992px) {
    .monicaImg {
        width: 60%;
    }
}